@page "/serverBrowser"
@using UI.Services
@inject UserService UserService

<h1>Server</h1>

<ul>
    @for (var x = 1; x < 6; x++)
    {
        <li>
            <a href="/lobby/@x">Server @x</a>
        </li>
    }
</ul>
<button class="btn btn-primary w-100 my-auto" @onclick="Refresh">Play</button>

@code {

    private void Refresh() { Console.WriteLine(UserService.CurrentUser); }
}