@page "/game/{gameId:int}"
@using JsConsole
@inject IJSRuntime Logger


<h3>Game #@GameId</h3>

@code {

    [Parameter]
    public int GameId { get; set; }

    protected override void OnInitialized()
    {
    // Console.WriteLine($"Server: {GameId}");
        JsConsole.Log(Logger, $"Browser: {GameId}");
    }

}