<div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
    We want to use Cookies to make this site better.
    <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" @onclick="AcceptMessage">
        <span aria-hidden="true">Accept</span>
    </button>
</div>