@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <table class="w-100">
            <tr>
                <td style="text-align: left">
                    <a href="/about" target="_blank" style=" justify-self: flex-start !important;">About</a>
                </td>
                <td style="text-align: center">
                    <h1>Dots and Boxes</h1>
                </td>
                <td style="text-align: right">
                    <a href="/login" style=" justify-self: flex-end !important;">Logout</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>